<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>@ViewBag.Title - Blog Project</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Blog Project", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Posts", "Index", "Posts")</li>
                    <li>@Html.ActionLink("New Post", "Create", "Posts")</li>
                    <li>@Html.ActionLink("Comments", "Index", "Comments")</li>
					<li>@Html.ActionLink("Search", "Search", "Posts")</li>
                    <li>@Html.ActionLink("Tags", "DisplayTags", "Posts")</li>
					<li>@Html.ActionLink("About", "About", "Home")</li>
                    @if (User.IsInRole("Administrators"))
                    {
                        <li>@Html.ActionLink("Users", "Index", "Users")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @Html.Partial("_Notifications") @*this is needed to fire the Notifications*@
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - <b>C# Blog. Software Development Project.</b><img src="/images/hack to the future.png" height="100" width="120" align="left" /></p>
            @*<p class="right"><img src="/images/hack to the future.png"  height="200" width="250"align="right" /></p>*@

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @*This script fixes the Edit post date representation Javascript jquery.validate.js issue*@
    @* If you remove it - prog will work but you will have to input date as per restriction rules of the jquery script *@
    <script>
        $(function () {
            $.validator.methods.date = function (value, element) {
                if ($.browser.webkit) {

                    //ES - Chrome does not use the locale when new Date objects instantiated:
                    var d = new Date();

                    return this.optional(element) || !/Invalid|NaN/.test(new Date(d.toLocaleDateString(value)));
                }
                else {

                    return this.optional(element) || !/Invalid|NaN/.test(new Date(value));
                }
            };
        });

    </script>


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
</body>
</html>
