@model BlogJuneMVC.Models.Category
@{
    ViewBag.Title = "Create";
}
<h3>&nbsp;</h3>
<div class="container">
    <div class="well">
        <h2>Create Category</h2>
        @using (@Html.BeginForm("Create", "Categories", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="form-group span=8 offset=2">
                @Html.LabelFor(m => m.Name, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @*@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })*@
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    <input type="submit" value="Create" class="btn btn-success" />
                    @Html.ActionLink("Cancel", "Index", "Categories", new { @class = "btn btn-default" })                 
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


