@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <p class="text-left"><img src="/images/logo.png" height="75" width="210" align="left" /><img src="/images/blog3.png" height="100" width="177" align="left" /></p>
    <h2>&nbsp&nbsp&nbsp</h2>
    @*<h2>&nbsp&nbsp&nbsp Blog Project</h2>*@
</div>

@model List<BlogJuneMVC.Models.Post>
<section class="row">
    @foreach (var post in Model)
    {
        <article class="post col-md-4">
            <h2><a href="/Posts/Details/@post.Id">@BlogJuneMVC.Classes.Utils.CutText(post.Title, 20)</a></h2>
            <div class="alert alert-default">
                Posted on <i>@post.Date</i>
                @if (post.Author != null)
                {
                    @:by <i>@post.Author.FirstName (@post.Author.UserName)</i>
                }
            </div>

            <p class="alert alert-info">
                @BlogJuneMVC.Classes.Utils.CutText(post.Body, 200)
            </p>

        </article>


    }
</section>

<p>&nbsp;
<p>&nbsp;

    <div class="text-info" style='margin-right: auto; margin-left: auto;text-align: center'>
        <div class="text-info" style="color:blue;">&nbsp;@Scripts.Render("~/Scripts/hitcounterjs.js")</div>
    </div>


    @*Deprecated*@
    @*<center class="text-primary">&nbsp;@Scripts.Render("~/Scripts/hitcounterjs.js")</center>*@

